<%= form_for :variables, :url => { :action => "update_variables", controller: 'task_groups'}, remote: true do |f| %>
  <%= f.number_field :n_user, value: 100 %>
  <%= f.submit "Update Variables" %>
<% end %>

<div class="js-div">
  <%= render "messages_and_users" %>
</div>

